.intro-header {
}
.intro-2 {
  background: url("https://static.timesofisrael.com/fr/uploads/2017/12/Photo-d%E2%80%99illustration-d%E2%80%99une-main-d%E2%80%99une-personne-a%CC%82ge%CC%81e-Pablo-K-iStock-par-Getty-Images.jpg")
    no-repeat center center;
  background-size: cover;
}
.view {
  height: 105vh !important;
  position: fixed;
  height: 110vh;
  width: 100%;
  top: -25px;
  /* overflow-x: visible; */
}
.btn .fa {
  margin-left: 3px;
}
.top-nav-collapse {
  background-color: #424f95 !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}
h6 {
  line-height: 1.7;
}
.rgba-gradient .full-bg-img {
  height: 100%;

  background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.6),
    rgba(29, 210, 177, 0.6) 100%
  );
}
@media (max-width: 450px) {
  .modal-content {
    position: relative;
  }
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .form-row > [class*="col-"] {
    margin-top: -5vh;
    padding-right: 5px;
    padding-left: 5px;
  }
}

h1.h1-responsive.wow.fadeInLeft {
  width: 402px;
}
button.waves-light.btn.btn-default {
  background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.6),
    rgba(29, 210, 177, 0.6) 100%
  );
}
h4 {
  color: gray;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 30vh !important;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.divcontent {
  position: relative;
  top: 25vh;
  padding: 0 6vh 0 6vh;
}
.md-form label.active {
  color: white;
}
